@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
    --color-background : #FAFAFA;
    --color-primtext : #1A1A1A;
    --color-sectext : #71717A;
    --color-primbutt : #10B981;
    --color-butthover : #059669;
    --color-pastebox : #FFFFFF;
    --color-divider : #E4E4E7;
    --color-accent : #6366F1;
    --font-main : 'Inter', 'Helvetica Neue';
    --font-heading : 'Space Grotesk','Inter';
    --color-footer-bg: #ECFDF5;   
    --color-footer-text: #CBD5E1; 
    --color-footer-link: #10B981;
}